@model IEnumerable<LojaNatural.Dominio.Entidades.Produto>

@{
    ViewData["Title"] = "Index";
}

<h2>PRODUTO</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-info">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Nome)             
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>

            <td>
                <a asp-action="" class="btn btn-outline-primary " ><span class="fa fa-edit"></span></a>
                <a asp-action=""class="btn btn-outline-info"><span class="fa fa-book"></span></a>
                <a asp-action="" class="btn btn-outline-danger"><span class="fa fa-eraser"></span></a>
            </td>
        </tr>; }
    </tbody>
</table>
